<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("Partials/_Meta")
    @await Html.PartialAsync("Partials/Layouts/_DefaultCss")
    @await Html.PartialAsync("Partials/Layouts/_Datatables") 
    <link href="~/css/home.css" rel="stylesheet" asp-append-version="true">
</head>
<body>
    @await Html.PartialAsync("Partials/_Nav")
    <div class="container body-content">
        @RenderBody()
        @await Html.PartialAsync("Partials/_Footer")
    </div>
    @await Html.PartialAsync("Partials/Scripts/_DefaultScripts")
    @await Html.PartialAsync("Partials/Scripts/_Datatables")
    <script src="~/lib/plugins/Chart.js/js/Chart.min.js"></script>
    <script src="~/js/chart.js" asp-append-version="true"></script>
</body>
</html>
