<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("Partials/_Meta")
    @await Html.PartialAsync("Partials/Layouts/_DefaultCss")
    <link href="~/css/home.css" rel="stylesheet" asp-append-version="true">
</head>
<body>
    @await Html.PartialAsync("Partials/_Nav")
    <div class="container body-content">
        @RenderBody()
        @await Html.PartialAsync("Partials/_Footer")
    </div>
    @await Html.PartialAsync("Partials/Scripts/_DefaultScripts")
    <script src="~/js/log.js" asp-append-version="true"></script>
</body>
</html>
