
    <!--Datatables-->
    <script src="~/lib/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/plugins/datatables.net/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/plugins/datatables.net/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/plugins/datatables.net/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/lib/plugins/datatables.net/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/plugins/datatables.net/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/lib/plugins/datatables.net/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/lib/plugins/datatables.net/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/plugins/datatables.net/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/lib/plugins/datatables.net/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/lib/plugins/datatables.net/datatables.net-search-highlight/js/jquery.highlight.js"></script>
    <script src="~/lib/plugins/datatables.net/datatables.net-search-highlight/js/dataTables.searchHighlight.min.js"></script>
    <script src="~/lib/plugins/datatables.net/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/plugins/datatables.net/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/plugins/datatables.net/datatables.net-buttons/js/buttons.colVis.min.js"></script>