    <!-- jQuery -->
    <script src="~/lib/plugins/jquery/jquery.min.js"></script>
    <!-- MomentJs -->
    <script src="~/lib/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/site.min.js"></script>