﻿<section>
    <div class="row table-responsive">
        <div class="panel panel-default">
            <div class="panel-heading">
                NLogs
                <button id="btnRefresh" type="button" class="btn btn-xs btn-primary pull-right"><i class="fa fa-refresh"></i> Reload</button>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label class="label-control">Schema</label>
                        <select id="schema" class="form-control dropdown-control">
                            <option value="Server" selected>Server</option>
                            <option value="Local">Local</option>
                            <option value="LAGPNBranches">LAGPN Branches</option>
                            <option value="Everlasting">Everlasting</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="label-control">Level</label>
                        <select id="logType" class="form-control dropdown-control">
                            <option value="All" selected>All</option>
                            <option value="Info">Info</option>
                            <option value="Warn">Warn</option>
                            <option value="Error">Error</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="label-control">Date from:</label>
                        <input id="dateFrom" type="text" class="form-control"/>
                    </div>
                    <div class="col-md-3">
                        <label class="label-control">Date to:</label>
                        <input id="dateTo" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table id="tblLogs" class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Level</th>
                                    <th>Message</th>
                                    <th>User</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div class="panel-footer">Panel footer</div> -->
        </div>
    </div>
</section>