@model LogViewer.Models.NLoggerViewModels
@{
    var color = Model.Level == "Warn" ? "warning" :
                Model.Level == "Info" ? "info" : 
                Model.Level == "Error" ? "danger" : "default";
}
<section>
    <div class="row" style="margin-top: 20px">
        <div class="panel panel-@color">
            <div class="panel-heading">Log Id: @Model.Id</div>
            <div class="panel-body">            
                <div class="col-xs-12">
                    <dl class="dl-horizontal dl-lists">
                        <dt>User:</dt> <dd>@Model.User</dd>
                        <dt>Date:</dt> <dd>@Model.LoggedOnDate</dd>
                        <dt>Level:</dt> <dd><span class="badge bg-@color">@Model.Level</span></dd>
                        <dt>Call Site:</dt> <dd><code>@Model.CallSite</code></dd>
                        <dt>Request Ip:</dt> <dd>@Model.RequestIp</dd>
                        <dt>Request Host:</dt> <dd>@Model.RequestHost</dd>
                        <dt>Remote Address:</dt> <dd>@Model.RemoteAddress</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-@color">
            <div class="panel-heading">Additional Info</div>
            <div class="panel-body">            
                <div class="col-xs-12">
                    @if(color == "danger"){
                        <code>@Model.AdditionalInfo</code>
                    }
                    else{
                        @Model.AdditionalInfo
                    }
                </div>
            </div>
            <!-- <div class="panel-footer">Panel footer</div> -->
        </div>
    </div>
    @if(!string.IsNullOrEmpty(Model.Type)){
        <div class="row">
            <div class="panel panel-@color">
                <div class="panel-heading">Type</div>
                <div class="panel-body">            
                    <div class="col-xs-12">
                        <code>@Model.Type</code>
                    </div>
                </div>
            </div>
        </div>
    }
    @if(!string.IsNullOrEmpty(Model.Message)){
        <div class="row">
            <div class="panel panel-@color">
                <div class="panel-heading">Message</div>
                <div class="panel-body">            
                    <div class="col-xs-12">
                        <code>@Model.Message</code>
                    </div>
                </div>
            </div>
        </div>
    }
    @if(!string.IsNullOrEmpty(Model.StackTrace)){
        <div class="row">
            <div class="panel panel-@color">
                <div class="panel-heading">Stack Trace</div>
                <div class="panel-body">            
                    <div class="col-xs-12">
                        <code>@Model.StackTrace</code>
                    </div>
                </div>
            </div>
        </div>
    }
</section>