@{
    Layout = "~/Views/Shared/_Chart.cshtml";
}
<section>
    <div class="row table-responsive">
        <div class="panel panel-default">
            <div class="panel-heading">
                NLogs Monthly Chart
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <label class="label-control">Schema</label>
                        <select id="schema" class="form-control dropdown-control">
                            <option value="Server" selected>Server</option>
                            <option value="Local">Local</option>
                            <option value="LAGPNBranches">LAGPN Branches</option>
                            <option value="Everlasting">Everlasting</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="label-control">Level</label>
                        <select id="logType" class="form-control dropdown-control">
                            <option value="Info">Info</option>
                            <option value="Warn">Warn</option>
                            <option value="Error" selected>Error</option>
                        </select>
                    </div>
                    <div class="col-md-4 pull-right">
                        <label class="label-control">Select Month</label>
                        <div class="input-group date">
                            <input type="text" id="date" class="form-control col-xs-12">
                            <span class="input-group-addon" id="btnGo">
                                <span class="control-label">Go</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <canvas id="myChart" height="100"></canvas>
                    </div>
                </div>
            </div>
            <!-- <div class="panel-footer">Panel footer</div> -->
        </div>
    </div>
</section>