
    <!-- Datatables -->
    <link href="~/lib/plugins/datatables.net/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/plugins/datatables.net/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/plugins/datatables.net/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/plugins/datatables.net/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/plugins/datatables.net/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/plugins/datatables.net/datatables.net-search-highlight/css/dataTables.searchHighlight.css" rel="stylesheet" />
    <link href="~/lib/plugins/datatables.net/datatables.net-buttons-bs/css/buttons.bootstrap.css" rel="stylesheet" />