.bg-warning{
    background-color: #F4AB6A;
}

.bg-danger{
    background-color: #F46A6A;
}

.bg-info{
    background-color: #6AC0F4;
}

section div.row{
    margin: 15px 0px 15px 0px;
    font-size: 15px;
}

.code-error{
    color: #c7254e;
}

.dl-lists dd{
    margin-bottom: 10px;
}

.fa-spinner-load{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}